body{
    background-color: #1B262C;
}
.container
{
    background-color: #1B262C;
    width: 100%;
    height: 90%;
}
.cerrar{
    float: right;
}
.pie{
    color: #BBE1FA;
}
label{
    color: #BBE1FA;
}
