body{
    background-color: #1B262C;
}
.container
{
    border: 1px solid #BBE1FA;
    background-color: #1B262C;
    width: 100%;
    height: 97vh;
}
.iniciar{
    width: 100%;
    height: 97vh;
}

.busqueda{
    width: 100%;
    height: 50%;
}
.busquedarapida{
    width: 70%;
    background-color: #13AFDF;
    color: black;
    height: 20%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}
.boton {
    width: 100%;
    height: 100%;
    background-color:#0F4C75;
    cursor: pointer;
    color: #BBE1FA;
}

.texto{
    width: 100%;
    height: 15%;
    background-color: #0F4C75;
    color: black;
}


.button { 
background-color: #13AFDF;
border-radius: 6px;
border: none;
color: red; 
cursor: pointer; 
font-size: 12px; 
padding: 16px 22px; 
text-align: center; 
text-transform: uppercase; 
width: auto;
margin-top: 10px;
}


.cerrar{
    float: right;
}
.pie{
    color: #BBE1FA;
}
.config{
    width: 5%;
    height: 10%;
}
.notify{
    float: right;
}