body{
    background-color: #1B262C;
}
.container
{
    border: 1px solid #BBE1FA;
    background-color: #1B262C;
    width: 100%;
    height:97vh;
}
.iniciar{
    width: 100%;
    height: 80vh;
}

.completa{
    background-color: #0F4C75;
    color: #BBE1FA;
    width: 50%;
    height: 14%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
}
.miscuartos{
    border: 1px solid black;
    width: 70%;
    height: 10%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    border: inset;
}

.agrega{
    border: 1px solid #BBE1FA;
    width: 70%;
    height: 40%;
    margin: auto;
    margin-top: 3%;
    border: inset;
}
.agrega1{
    border: 1px solid #BBE1FA;
    width: 45%;
    height: 25%;
    margin: auto;
    margin-top: 3%;
    margin-right:3% ;
    border: inset;
    float: right;
    text-decoration: none;
}
.agregando{
    border: 1px solid #BBE1FA;
    width: 45%;
    height: 25%;
    margin: auto;
    margin-top: 3%;
    margin-right:3% ;
    border: inset;
    float: right;
}
.agrega2{
    margin: auto;
}
.actualizar{
    border: 1px solid black;
    width: 45%;
    height: 50%;
    border: inset;
    margin-top: 3%;
    margin-left: 2%;
}
.imagenes{
    border: 1px solid black;
    width: 70%;
    height: 20%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    border: inset;
}
.img1{
    width: 50%;
    height: 100%;
    margin: auto;
    float: right;
}
.img2{
    width: 50%;
    height: 100%;
    margin: auto;
}

.botonuno{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #3282B8;
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.botondos{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: #3282B8;
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.botontres{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    background-color: #3282B8;
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.antes{
    float: right;
}
.consultas{
    border: 1px solid black;
    width: 80%;
    height: 25%;
    margin: auto;
    margin-top: 3%;
    margin-right: 10%;
    border: inset;
    float: right;
}