body{
    background-color: #1B262C;
}
.container
{
    border: 1px solid #BBE1FA;
    width: 100%;
    height: 96vh;
}
.letras{
    color: #BBE1FA;
    border: 1px solid #BBE1FA;
    width: 100%;
    height: 10%;
    background-color: #0F4C75;
}
.consultas{
    border:1px solid greenyellow;
    width: 50%;
    height: 85%;
    margin: auto;
}
.consultasdentro{
    border:1px solid greenyellow;
    width: 50%;
    height: 12%;
    margin: auto;
    margin-top: 4%;
}
.botonuno{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #0F4C75;
    color:#BBE1FA;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    position: relative;
}
@media only screen and (max-width: 500px){
    .consultas{
    border:0px solid greenyellow;
    width: 90%;
    height: 85%;
    margin: auto;
}
.consultasdentro{
    width: 90%;
    height: 12%;
    margin: auto;
    margin-top: 4%;
}
}