.container
{
    background-color: rgb(208, 1, 27);
    width: 100%;
    height: 100vh;
}
.iniciar{
    border: 1px solid black;
    width: 50%;
    height: 100%;
    margin-left: 20%;
}
.imagen{
    width: 50%;
    height: 30%;
    margin-left: 20%;
}
.correo{
    
    width: 50%;
    height: 10%;
    margin-left: 20%;
    text-align: center;
}
.contraseña{
    text-align: center;
    width: 50%;
    height: 10%;
    margin-left: 20%;
}
.ingresar{
    width: 50%;
    height: 3%;
    margin-left: 20%;
    text-align: center;
}
.olvidaste{
    width: 50%;
    height: 3%;
    margin-left: 20%;
    text-align: center;
}
.registrate{
    width: 50%;
    height: 3%;
    margin-left: 20%;
    text-align: center;
}